<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>View</title>
    <style>
        .card-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh; /* Adjust as needed */
        }

        .card-wrapper {
            max-width: 18rem;
        }
    </style>

</head>
{% include 'navbar.html' %}
<body>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center card-container">
        <div class="card border-light mb-3 card-wrapper">
            <div class="card-header">Name:{{ customer.name }}</div>
            <div class="card-body">
                <h5 class="card-title">Phone Number : {{ customer.phone }}</h5>
                <p class="card-text">Last Payment : {{ customer.last_payment }}</p>
                  <p class="card-text">Status : {% if customer.subscription %}Active{% else %}Inactive{% endif %}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
