<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phenom</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
{% include 'navbar.html' %}
{% include 'alerts.html' %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for customer in customers %}
            <div class="column is-one-third">
                <a href="{% url 'view_customer' customer.id %}" class="box has-background-light">
                    <p class="title is-5">{{ customer.name }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>
</html>