<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}">
        PHENOM
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'home' %}">Customers</a>
        <a class="navbar-item" href="{% url 'view_staff' %}">Staff</a>
        <a class="navbar-item" href="{% url 'signup' %}">Add Customer</a>
        <a class="navbar-item" href="{% url 'staff_signup' %}">Add Staff</a>
        <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field has-addons">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
</body>
</html>