<!-- registration/password_reset_confirm.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm</title>
        <link rel="icon" href="https://cdn.pixabay.com/photo/2016/12/27/13/10/logo-1933884_640.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title">Reset Your Password</h1>
                    <form method="post" class="box">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="button is-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
